@media (max-width: 1600px) {
	main {
		margin-top: 128px;
	}

	.main-img-section,
	.about-img-section {
		margin-top: -128px;
		padding-top: 128px;
	}

	.center-cnt .header-cnt nav {
		gap: 15px;
	}

	.center-cnt .header-cnt nav a {
		font-size: 15px;
	}

	.center-cnt .header-cnt {
		padding: 35px 0;
	}

	.header-phone a:first-child {
		font-size: 20px;
	}

	.call-back {
		font-size: 14px;
	}

	.header-icon-cnt__find {
		height: 25px;
		width: 25px;
	}

	.header-icon-cnt__compare {
		height: 25px;
		width: 25px;
	}

	.header-icon-cnt__login {
		height: 25px;
		width: 25px;
	}

	.header-icon-cnt {
		gap: 30px;
	}

	.header-phone {
		margin-right: 30px;
	}

	.center-cnt .header-cnt .header-cnt-side:nth-child(2) {
		margin: 0 30px;
	}

	.footer-cnt .footer-cnt__logo {
		flex: 0 1 30%;
	}

	.footer-cnt .footer-cnt__clm-cnt {
		flex: 0 1 70%;
		gap: 5%;
	}

	.dropdown-menu {
		height: calc(100vh - 118px);
	}

	.assembly-table__row {
		a.glitchy-btn span.link-inner:after {
			content: none;
		}
	}
}

@media (max-width: 1440px) {
	.configurator-section .config-cnt .config-menu {
		display: none;
	}

	.card-cnt .card-main__cnt .card-main__row {
		flex-direction: column;
		align-items: center;
	}

	.card-cnt .card-main__cnt .card-char__cnt {
		max-width: 100%;
	}
	.vacancy__section .vacancy-cnt .vacancy-item {
		padding: 40px;
	}
	.configurator-section .config-cnt .config-wrap .config-wrap__item .config-wrap__item-body {
		padding: 30px 25px;
	}
	.stock-cnt .stock-item__cnt .cat-item__cnt {
		grid-template-columns: repeat(2, minmax(0, 1fr));
	}
}

@media (max-width: 1280px) {

	.card-cnt {
		.card-preview__cnt {
			display: none;

			.fixed-div {
				width: 100% !important;
			}

			&.card-preview-mobile {
				display: block !important;
				max-width: 100%;

				.card-preview__item {
					flex-direction: row;
					align-items: flex-start;
					padding: 50px 30px;
					justify-content: space-between;
					gap: 5%;

					.card-preview__price-cmp {
						width: 50%;
						flex-direction: column;
					}

					.card-preview__order-btn {
						flex: 0 1 50%;
						margin-bottom: 0px;
					}
				}
			}
		}
	}

	.tab-view {
		grid-template-columns: repeat(2, minmax(0, 1fr));
	}

	.configurator-section .config-cnt .config-wrap .config-wrap__item .config-wrap__item-body {
		padding: 20px;
	}

	main {
		margin-top: 118px;
	}

	.main-img-section,
	.about-img-section {
		margin-top: -118px;
		padding-top: 118px;
	}

	h1,
	h1.white-h1 {
		font-size: 34px;
		line-height: 150%;
		margin-bottom: 60px;
	}

	.center-cnt .header-cnt .header-cnt-side:nth-child(2) {
		display: none;
	}

	.call-back {
		display: none;
	}

	.center-cnt .header-cnt {
		padding: 30px 0;
	}

	.burger-btn {
		width: 30px;
		height: 25px;
		margin-right: 20px !important;
		padding-right: 30px;
	}

	.burger-btn .burger-menu-piece {
		width: 30px;
	}

	.burger-btn .burger-menu-piece:nth-child(1) {
		top: 0px;
	}

	.burger-btn .burger-menu-piece:nth-child(2) {
		top: 11px;
	}

	.burger-btn .burger-menu-piece:nth-child(3) {
		width: 18px;
		top: 22px;
	}

	.burger-btn:hover .burger-menu-piece:nth-child(3) {
		width: 30px;
	}

	.burger-btn.active .burger-menu-piece:nth-child(1) {
		top: 0px;
		width: 25px;
	}

	.burger-btn.active .burger-menu-piece:nth-child(3) {
		top: 24px;
		width: 25px;
	}

	.footer-cnt .footer-cnt__logo {
		display: none;
	}

	.footer-cnt .footer-cnt__clm-cnt {
		flex: 0 1 100%;
		gap: 5%;
	}

	.dropdown-menu {
		height: calc(100vh - 103px);
	}

	.menu-blog__item {
		flex-direction: column;
	}

	.cat-item__cnt.swiper {
		width: calc(100% - 50px);
	}

	.cat-item__cnt .cat-item__item {
		padding: 0 25px 45px 25px;
	}

	.cat-item__cnt-btns>div.swiper-button-next.slider-arrow-right {
		right: -30px;
	}

	.cat-item__cnt-btns>div.swiper-button-prev.slider-arrow-left {
		left: -10px;
	}

	.selection .selection__cnt {
		flex-direction: column;
	}

	.selection__btn-cnt {
		width: 100%;
		flex-direction: row;
		max-width: 100%;

		.selection__btn {
			padding: 50px 30px;
		}
	}

	.selection .strip .glitchy-btn {
		top: -120px;
		left: 50%;
		transform: translateX(-50%) !important;
	}

	.main-why {
		display: none;
	}

	.faq {
		.faq__cnt {
			flex-direction: column;

			ul.faq__list-cnt {
				max-width: 100%;
			}

			.faq__img-cnt {
				margin-top: 50px;
				justify-content: center;
			}
		}

		.strip a.glitchy-btn {
			top: -50px;
			width: 90%;
			left: 50%;
			transform: translateX(-50%) !important;
			right: 0;
		}

		.strip-cnt .glitchy-btn,
		.selection__name.main-animate {
			transform: translateX(-50%) !important;
		}

		.strip .strip-cnt .strip-cnt__ref {
			flex-direction: column;
			gap: 0;
			padding: 30px 0 0 0;
			align-items: center;
		}
	}

	.cat-item__cnt {
		grid-template-columns: repeat(2, 1fr);
		grid-row-gap: 120px;
	}

	.assemble-name {
		font-size: 22px;
	}

	.assembly-table .name-cell {
		width: 25%;
	}

	.assembly-table .button-cell {
		flex-direction: column;
	}

	.assembly-table .assembly-table__row a.glitchy-btn {
		max-width: 250px;
	}

	.feedback-section.feedback-page .feedback-cnt {
		grid-template-columns: repeat(3, minmax(0, 1fr));
	}

	.blog-interest__cnt .blog-item {
		flex-direction: column;
	}

	.cat-item__cnt .cat-item__item .cat-item__title {
		font-size: 34px;
	}

	.main-img-section .main-img-section__title-cnt .quest-sign.right {
		right: 10%;
		bottom: 20%;
	}

	.main-img-section .main-img-section__title-cnt .quest-sign.left {
		left: 10%;
		bottom: 25%;
	}

	.main-img-section .main-img-section__title-cnt .quest-sign.center {
		top: 10%;
	}

	.podbor-lvl .podbor-item__cnt.tab-view {
		grid-template-columns: repeat(3, minmax(0, 1fr));
		gap: 50px 25px;
	}

	.card-filter__cnt .card-filter {
		justify-content: space-between;
		padding: 25px 20px;
		gap: 5%;
	}

	.strip .glitchy-btn {
		top: -80px;
		width: 90%;
	}
	.leasing-main__section:before {
		width: 100%;
	}
	.leasing-calc__section .leasing-calc__cnt .leasing-calc__price,
	.leasing-calc__section .leasing-calc__cnt .leasing-calc__term {
		min-width: 240px;
	}
	.leasing-calc__section .leasing-calc__cnt .leasing-calc__total-item .leasing-calc__value {
		font-size: 26px;
	}
	.leasing-calc__section .leasing-calc__cnt .leasing-calc__total-item .leasing-calc__name {
		font-size: 20px;
	}
	.leasing-calc__section .leasing-calc__cnt .leasing-calc__total-item {
		padding: 30px;
	}
	.leasing-main__section {
		height: 60vh;
	}
	.leasing-main__section:before {
		height: 60vh;
	}
	.vacancy__section .vacancy-cnt .vacancy-item .vacancy-row .vacancy-row__geo,
	.vacancy__section .vacancy-cnt .vacancy-item .vacancy-row .vacancy-row__type {
		font-size: 15px;
	}
	.vacancy__section .vacancy-cnt .vacancy-item .vacancy-row .vacancy-row__salary {
		font-size: 17px;
	}
	.vacancy__section .vacancy-cnt .vacancy-item .vacancy-row {
		flex-direction: column;
		align-items: flex-start;
		gap: 10px;
	}
	.vacancy__section .vacancy-cnt .vacancy-item .vacancy-item__title h3 {
		font-size: 24px;
		margin-bottom: 20px;
	}
	.vacancy-desc h5 {
		font-size: 18px;
	}
	.vacancy-desc p,
	.vacancy-desc ul li {
		font-size: 15px;
	}
	.vacancy__section .vacancy-cnt .vacancy-item .vacancy-row {
		margin-bottom: 40px;
	}
	.vacancy__section .vacancy-cnt .vacancy-item .vacancy-desc {
		margin-bottom: 20px;
	}
	.vacancy__section .vacancy-cnt .vacancy-item .show-more {
		font-size: 15px;
		margin-bottom: 30px;
	}
	.adress-map__cnt .adress-cnt {
		width: 30%;
	}
	.adress-map__cnt .adress-cnt .adress-street,
	.adress-map__cnt .adress-cnt .adress-phone,
	.adress-map__cnt .adress-cnt .adress-time {
		font-size: 18px;
	}
	.adress-map__cnt .adress-cnt .adress-office {
		padding-bottom: 40px;
	}
	.adress-map__cnt .adress-cnt .adress-storage {
		margin-top: 40px;
	}
	.adress-map__cnt .adress-cnt .adress-title {
		margin-bottom: 20px;
	}
	.adress-map__cnt .adress-cnt .adress-street,
	.adress-map__cnt .adress-cnt .adress-phone {
		margin-bottom: 15px;
	}
	.modal {
		max-width: 90vw !important;
	}	
}

@media (min-width: 1023px) and (max-width: 1279px) {
	.stock-item__cnt .cat-item__cnt.catalog-cnt .cat-item__char-cnt.catalog-cnt .cat-item__char {
		flex-direction: column;
	}
	.stock-item__cnt .cat-item__cnt.catalog-cnt .cat-item__char-cnt.catalog-cnt .cat-item__char-name {
		width: 100%;
	}
}

@media (max-width: 1024px) {
	.center-cnt {
		padding: 0 30px;
	}

	.main-section__cnt h1 {
		font-size: 34px;
		line-height: 150%;
	}

	.footer-cnt {
		padding: 60px 0 30px 0;

		.footer-cnt__clm-cnt {
			flex-wrap: wrap;
		}

		.footer-cnt__clm-cnt .footer-cnt__clm {
			width: 30%;
			max-width: 100%;
		}

		.footer-cnt__clm-cnt .footer-cnt__clm:last-child {
			width: 100%;
			flex-direction: row;
			max-width: 100%;
			gap: 10%;
			margin-top: 50px;

			.phone-footer__cnt {
				flex: 0 1 auto;
			}
		}
	}

	.dropdown-menu .menu__cnt {
		grid-template-columns: repeat(2, 1fr);
		gap: 20px;

		.menu-clm:last-child {
			display: none;
		}
	}

	.cat-item__cnt .cat-item__item {
		padding: 0 15px 35px 15px;
	}

	.selection__btn-cnt {
		flex-direction: column;
	}

	.photo-gallery .gallery__item--1 {
		grid-column-start: 1;
		grid-column-end: 6;
		grid-row-start: 1;
		grid-row-end: 4;
	}

	.photo-gallery .gallery__item--2 {
		grid-column-start: 6;
		grid-column-end: 11;
		grid-row-start: 1;
		grid-row-end: 3;
	}

	.photo-gallery .gallery__item--3 {
		grid-column-start: 11;
		grid-column-end: 17;
		grid-row-start: 1;
		grid-row-end: 3;
	}

	.photo-gallery .gallery__item--4 {
		grid-column-start: 1;
		grid-column-end: 6;
		grid-row-start: 4;
		grid-row-end: 7;
	}

	.photo-gallery .gallery__item--5 {
		grid-column-start: 7;
		grid-column-end: 11;
		grid-row-start: 7;
		grid-row-end: 9;
	}

	.photo-gallery .gallery__item--6 {
		grid-column-start: 11;
		grid-column-end: 17;
		grid-row-start: 7;
		grid-row-end: 9;
	}

	.photo-gallery .gallery__item--7 {
		grid-column-start: 1;
		grid-column-end: 7;
		grid-row-start: 7;
		grid-row-end: 9;
	}

	.photo-gallery .gallery__item--8 {
		grid-column-start: 6;
		grid-column-end: 17;
		grid-row-start: 3;
		grid-row-end: 7;
	}

	.cat-item__cnt {
		grid-row-gap: 100px;
	}

	.section-404 .cnt-404 .web-right {
		right: -70%;
	}

	.section-404 .cnt-404 .web-left {
		left: -70%;
	}

	.proceed-cell {
		display: none;

		&.mobile {
			display: block !important;
			padding: 0 !important;
			width: 100%;
		}
	}

	.assembly-table .name-cell {
		width: 45%;
	}

	.id-cell {
		display: none;

		&.mobile {
			display: block !important;
			padding: 0 !important;
			width: 100%;
		}
	}

	.assembly-table .assembly-table__row {
		position: relative;
		align-items: flex-start;
	}

	.assembly-table .number-cell {
		width: 30px;
	}

	.assembly-table .assembly-table__row .delete-cell {
		position: absolute;
		left: 30px;
		bottom: 0;

		&::after {
			content: 'Удалить';
			top: 50%;
			left: 40px;
			position: absolute;
			transform: translateY(-50%);
			font-size: 15px;
			line-height: 140%;
			color: $color_config;
		}
	}

	.assembly-table .coast-cell {
		flex: 1;
	}

	.assembly-table .button-cell {
		width: auto;
	}

	.assembly-table {
		margin-bottom: 100px;
	}

	.feedback-section.feedback-page .feedback-cnt {
		grid-template-columns: repeat(2, minmax(0, 1fr));
		gap: 30px;
	}

	.blog-item {
		gap: 20px;
	}

	.blog-item__default .blog-item__default-content {
		max-width: 100%;
	}

	.blog-item__default {
		flex-direction: column;
		gap: 50px;
	}

	.blog-item__default-img {
		margin: 0 auto;
	}

	.podbor-section .selection__btn-cnt {
		flex-direction: column;
		align-items: center;
	}

	.podbor-lvl .podbor-item__cnt .podbor-item .podbor-title,
	.podbor-lvl .podbor-header .podbor-header__back:before {
		font-size: 16px;
	}

	.podbor-lvl .podbor-header .podbor-header__back:before {
		padding-left: 40px;
	}

	.custom-label {
		font-size: 20px;
	}

	.podbor-tab .podbor-item__cnt .podbor-item .podbor-item__title {
		font-size: 18px;
	}

	.podbor-tab .podbor-item__cnt .podbor-item .podbor-item__char-cnt .podbor-item__char-item .podbor__char-name,
	.podbor-tab .podbor-item__cnt .podbor-item .podbor-item__char-cnt .podbor-item__char-item .podbor__char-value {
		width: 100%;
	}

	.card-cnt .card-preview__cnt.card-preview-mobile .card-preview__item .card-preview__price-cmp {
		align-items: baseline;
	}
	.leasing-calc__section .leasing-calc__cnt .leasing-calc__row.total-row {
		flex-direction: column;
		gap: 15px;
	}
	.leasing-calc__section .leasing-calc__cnt .leasing-calc__total-item {
		min-height: auto;
	}
	.leasing-calc__section .leasing-calc__cnt .leasing-calc__total-item {
		padding: 20px 30px;
	}
	.leasing-calc__section .leasing-calc__cnt .leasing-calc__row.price-row {
		flex-direction: column;
		gap: 30px;
	}
	.leasing-calc__section .leasing-calc__cnt .leasing-calc__row.price-row {
		margin-bottom: 40px;
	}
	.leasing-calc__section .leasing-calc__cnt .leasing-calc__price {
		text-align: left;
		width: 100%;
	}
	.section-padding-170 {
		padding: 120px 0;
	}
	.leasing-adv__cnt {
		gap: 60px 80px;
	}

	.leasing-main__section {
		height: auto;
	}
	.leasing-main__section .leasing-main__cnt {
		flex-direction: column;
		margin-top: auto;
		margin-bottom: 100px;
		height: auto;
	}
	.leasing-main__section .leasing-main__img {
		height: auto;
	}
	.leasing-main__section .leasing-main__title-cnt {
		max-width: 100%;
	}
	.leasing-main__section .leasing-main__img {
		width: 100%;
	}
	.job-adv__cnt {
		gap: 60px 80px;
	}
	.job-adv__cnt .job-adv__item .job-adv__item-title {
		font-size: 24px;
	}
	.vacancy__section .vacancy-cnt {
		grid-template-columns: repeat(1, minmax(0, 1fr));
	}
	.leasing-calc__section .leasing-calc__cnt {
		padding: 60px 70px;
	}
	.adress-map__cnt .adress-cnt {
		width: 100%;
	}
	.quality-section .quality-cnt {
		padding: 40px;
	}
	.quality-section .quality-cnt .quality-row .quality-img {
		flex: 0 1 35%;
	}
	.quality-section .quality-cnt .quality-row .quality-content__cnt {
		flex: 0 1 60%;
	}
	.quality-section .quality-cnt .quality-row .quality-img {
		height: 100%;
	}
}

@media (max-width: 880px) {
	.leasing-adv__cnt {
		grid-template-columns: repeat(2, minmax(0, 1fr))
	}
}

@media (max-width: 768px) {

	main {
		margin-top: 103px;
	}

	.main-img-section,
	.about-img-section {
		margin-top: -103px;
		padding-top: 103px;
	}

	.center-cnt {
		padding: 0 15px;
	}

	.section-padding-170 {
		padding: 80px 0;
	}

	.our-services__bg {
		padding: 80px 0;
	}

	.configurator-section {
		margin-bottom: 80px;
	}

	.map-section.delivery-page .delivery-map {
		margin-bottom: 80px;
	}

	.feedback-section.feedback-page .feedback-cnt {
		margin: 80px 0 55px 0;
	}

	.card-cnt .card-main__cnt {
		gap: 80px;
	}

	ul li:not(:last-child) {
		margin-bottom: 20px;
	}

	.guarantee-section {
		margin-bottom: 80px;
	}

	.feedback-section {
		&.about-page {
			padding: 80px 0;
		}
	}

	.selection {
		padding-top: 80px;
	}

	h1,
	h1.white-h1 {
		font-size: 26px;
		line-height: 170%;
		margin-bottom: 40px;
	}

	h2,
	h2.white-h2 {
		font-size: 23px;
		line-height: 160%;
		margin-bottom: 30px;
	}

	.burger-btn {
		margin-right: 10px !important;
	}

	.header-icon-cnt {
		gap: 20px;
	}

	.main-section {
		flex-direction: column;

		.glitchy-btn {
			max-width: 200px;
		}
	}

	.main-section__img-cnt {
		margin-left: auto;
	}

	.main-section__cnt h5 {
		max-width: 300px;
	}

	.main-section__img-swiper-babka {
		max-width: 250px;
	}

	.our-services__cnt {
		flex-direction: column;
		align-items: center;
		gap: 50px;

		.our-services__item {
			max-width: 100%;
		}

		.our-services__img {
			margin-bottom: 15px;
		}
	}
	.our-services__bg {
		padding: 80px 0;
	}

	.cat-item__cnt-btns>div.swiper-button-next.slider-arrow-right {
		right: -20px;
	}

	.cat-item__cnt-btns>div.swiper-button-prev.slider-arrow-left {
		left: 0px;
	}

	.header-phone a.call-back {
		display: none;
	}

	.section-404 .title-404 {
		font-size: 70px;
	}

	.section-404 .play-again {
		font-size: 25px;
	}

	.section-404 .row-404 .row-404__item a {
		font-size: 14px;
	}

	.assembly-table .name-cell.mobile {
		gap: 10px;
		flex-wrap: wrap;
	}

	.assembly-table .name-cell {
		width: 40%;
	}

	.tpl-block,
	.tpl-block.reverse {
		flex-direction: column;
	}

	.blog-item {
		flex-direction: column;
		gap: 50px;
	}

	.blog-item .blog-img {
		width: 100%;
		flex: 1;
		max-width: 100%;
	}

	.guarantee-item__cnt {
		grid-template-columns: repeat(1, minmax(0, 1fr));
	}

	.delivery-page .delivery-adv__cnt {
		display: flex;
		flex-direction: column;
		gap: 50px;
	}

	.delivery-page .delivery-adv__cnt .delivery-adv__item .delivery-adv__img {
		margin-bottom: 15px;
	}

	.delivery-section h3 {
		margin-bottom: 80px;
	}

	.blog-item__section-main {
		margin-bottom: 80px;
	}

	.blog-item__section-video .center-cnt {
		padding: 80px 0;
	}

	.blog-item__suitable,
	.blog-item__section {
		margin: 80px 0;
	}

	.blog-item__section-interest {
		padding: 30px 0 80px 0;
	}

	.blog-item__suitable .blog-item__suitable-item.blog-item__suitable-item:nth-child(2) {
		padding-top: 80px;
	}

	.blog-interest__cnt {
		flex-direction: column;
		gap: 50px;
	}

	.blog-interest__cnt .blog-item .blog-img {
		max-width: 100%;
		height: auto;
	}

	.blog-item__section-interest h3 {
		margin-bottom: 50px;
	}

	.podbor-lvl .podbor-item__cnt {
		flex-direction: column;
		align-items: center;
	}

	.custom-label {
		font-size: 18px;
	}

	.podbor-lvl .podbor-header {
		margin-bottom: 100px;
		font-size: 16px;
	}

	.podbor-icons .podbor-item__cnt {
		padding-bottom: 100px;
	}

	.podbor-lvl .podbor-item__cnt.tab-view {
		grid-template-columns: repeat(2, minmax(0, 1fr));
		gap: 50px 10px;
	}

	.cat-item__cnt.catalog-cnt .cat-item__buy-cnt.catalog-cnt .add-cmp__btn.active:after {
		left: -100px;
	}

	.cat-item__cnt .cat-item__item .cat-item__char-cnt .cat-item__char {
		font-size: 15px;
	}

	.assemble-filter__cnt {
		flex-wrap: wrap;
	}

	.assemble-filter__cnt .assemble-filter__title {
		flex: 1 0 100%;
	}

	.assemble-filter__cnt .assemble-filter__game {
		flex: 1;
	}

	.assemble-filter__cnt .assemble-filter__resolution {
		flex: 1;
	}

	.faq__cnt ul.faq__list-cnt li .faq__btn .faq__btn-second,
	.faq__cnt ul.faq__list-cnt li .faq__btn .faq__btn-first {
		width: 30px;
		height: 30px;
	}

	.faq__cnt ul.faq__list-cnt li {
		padding-left: 40px;
	}

	.faq__cnt ul.faq__list-cnt li .faq__quest {
		font-size: 20px;
	}

	.faq__cnt ul.faq__list-cnt li .faq__answer {
		font-size: 15px;
	}

	.card-cnt .card-preview__cnt.card-preview-mobile .card-preview__item .card-preview__price-cmp {
		width: 30%;
	}

	.card-cnt .card-preview__cnt.card-preview-mobile .card-preview__item .card-preview__order-btn {
		flex: 0 1 65%;
	}

	.card-filter__cnt .card-filter {
		justify-content: space-around;

		.back-link {
			display: none;
		}
	}

	.cat-item__label-cnt .cat-item__label.promo-label .promo-label__desc {
		left: 0;
		top: 40px;
		transform: translateX(-50%);
	}

	.configurator-section .config-cnt .config-wrap .config-wrap__item .config-wrap__item-body.row .config-item__cnt.row-view .config-item__img-row {
		display: none !important;
	}

	.configurator-section .config-cnt .config-wrap .config-wrap__item .config-wrap__item-body.row .config-item__cnt.row-view .config-item {
		width: 100%;
	}

	.configurator-section .config-cnt .config-wrap .config-wrap__item .config-wrap__item-title {
		font-size: 24px;
		padding: 24px 0 24px 20px;
	}

	.tab-view .config-item .config-item__img img {
		height: 90px;
	}

	.configurator-section .config-cnt .config-wrap .config-wrap__item .config-wrap__item-body.row .item-body__row .item-body__subtitle .info {
		display: none;
	}

	.configurator-section .config-cnt .config-wrap .config-wrap__item .config-wrap__item-body.row {
		max-width: calc(100vw - 40px);
	}

	.configurator-section .config-cnt .config-wrap .config-wrap__item .config-wrap__item-body.row .item-body__tab-cnt {
		overflow-x: scroll;
	}

	.map-section.delivery-page .delivery-map__desc {
		max-width: 100%;
	}
	.map-section.delivery-page h2,
	.map-section.delivery-page p.subtitle {
		text-align: left;
	}
	.leasing-calc__section .leasing-calc__cnt .leasing-calc__term {
		text-align: left;
		width: 100%;
	}
	.leasing-calc__section .leasing-calc__cnt .leasing-calc__row.term-row {
		flex-direction: column;
		gap: 10px;
		margin-bottom: 80px;
	}
	.leasing-calc__section .leasing-calc__cnt {
		padding: 40px 30px;
	}
	.leasing-form__section .leasing-form__cnt {
		flex-direction: column;
	}
	.leasing-form__section .leasing-form__cnt .leasing-form__btn {
		flex: auto;
		width: 100%;
		.glitchy-btn {
			width: 100%;
			max-width: 100%;
		}
	}
	.job-adv__cnt {
		grid-template-columns: repeat(2, minmax(0, 1fr));
	}

	.leasing-form__section .leasing-form__subtitle {
		margin-bottom: 50px;
	}
	.modal-title {
		font-size: 24px;
	}
	
}

@media (max-width: 660px) {
	.header-phone {
		display: none;
	}

	.main-section__cnt h1 {
		font-size: 28px;
		margin: 0px 0 15px;
	}

	.main-section__cnt h5 {
		max-width: 100%;
		margin-bottom: 30px;
	}

	.main-section__cnt {
		margin-bottom: 180px;
	}

	.main-section__img-cnt {
		width: 80%;
	}

	.swiper-backface-hidden>div.swiper-button-next.slider-arrow-right,
	.swiper-backface-hidden>div.swiper-button-prev.slider-arrow-left,
	.cat-item__cnt-btns>div.swiper-button-next.slider-arrow-right,
	.cat-item__cnt-btns>div.swiper-button-prev.slider-arrow-left {
		display: none;
	}

	.swiper-backface-hidden>div.swiper-button-prev.slider-arrow-left .strip .strip-cnt .strip-cnt__ref {
		flex-direction: column;
		gap: 0;
		padding: 30px 0 0 0;
		align-items: center;
	}

	.selection .strip .glitchy-btn {
		top: -50px;
		width: 90%;
	}

	.cat-item__cnt {
		grid-template-columns: repeat(1, 1fr);
		justify-content: center;
		grid-row-gap: 80px;

		.cat-item__hover {
			max-width: 420px;
		}
	}

	.section-404 .row-404 {
		grid-template-columns: repeat(1, minmax(0, 100%));
		gap: 30px;
	}

	.section-404 .row-404 .row-404__item .arr-down {
		display: none;
	}

	.glitchy-btn:hover .link-inner:after {
		content: none;
	}

	.assembly-table .assembly-table__header {
		display: none;
	}

	.assembly-table__row {
		flex-direction: column;
	}

	.assembly-table .number-cell {
		display: none;
	}

	.assembly-table .name-cell,
	.assembly-table .coast-cell,
	.assembly-table .button-cell {
		width: 100%;
	}

	.assembly-table .name-cell.mobile {
		flex-direction: row;
		gap: 20px;

		.id-cell.mobile {
			width: auto;
		}
	}

	.assembly-table .assembly-table__row {
		padding: 20px 0;
	}

	.assembly-table .assembly-table__row .row-cell {
		padding: 12px;
	}

	.assembly-table .button-cell {
		flex-direction: row;
		align-items: center;
	}

	.assembly-table .delete-cell {
		top: 37px;
		right: 70px;
		bottom: auto;
		left: auto;
	}

	.assembly-table .assembly-table__row a.glitchy-btn.transparent {
		min-width: auto;
	}

	.assembly-table .delete-cell {
		right: 0;

		&::after {
			content: none;
		}
	}

	.assemble-name {
		width: calc(100% - 25px);
	}

	.feedback-section.feedback-page .feedback-cnt {
		grid-template-columns: repeat(1, minmax(0, 1fr));
	}

	.feedback-item__cnt {
		max-width: 100%;
	}

	.job-title,
	.about-title {
		margin-bottom: 100px;
	}

	.who-item__cnt {
		grid-template-columns: repeat(3, minmax(0, 1fr));
	}

	.search-cnt {
		padding: 42px 10px;
	}

	.main-img-section .main-img-section__title h1.white-h1 {
		text-align: center;
	}

	.podbor-lvl .podbor-item__cnt .podbor-item {
		gap: 10px;
	}

	.podbor-lvl .podbor-item__cnt.tab-view {
		grid-template-columns: repeat(1, minmax(0, 320px));
		gap: 40px;
		justify-content: center;
	}

	.podbor-header__lvl {
		position: absolute;
		bottom: -30px;
		left: 50%;
		transform: translate(-50%, 0%);
	}

	.podbor-lvl .podbor-header {
		display: flex;
		justify-content: space-between;
	}

	.lvl-finish .cat-item__cnt.catalog-cnt {
		margin-bottom: 80px;
	}

	.serias-main__color-link {
		flex-direction: column;

		.color-link__item {}

		.color-link__item:not(:last-child) {
			margin-right: 0;
		}

		.color-link__item:not(:last-child):before {
			content: none;
		}
	}

	.swiper-thumbs {
		display: none;
	}

	.cat-hero-slider-section:before {
		width: 100%;
		height: 100%;
	}

	.strip .strip-cnt .strip-cnt__ref {
		flex-direction: column;
		gap: 0;
		padding: 30px 0 0 0;
		align-items: center;
	}

	.modal-personal label.custom-label {
		font-size: 15px;

		a {
			font-size: 15px;
		}
	}

	.modal-personal .custom-checkbox+label {
		display: inherit;
		padding-left: 35px;
		position: relative;
	}

	.modal-personal .custom-checkbox+label::before {
		position: absolute;
		left: 0;
	}

	.card-cnt .card-preview__cnt.card-preview-mobile .card-preview__item {
		flex-direction: column;
		align-items: center;
		padding: 20px;
	}

	.card-cnt .card-preview__cnt.card-preview-mobile .card-preview__item .card-preview__price-cmp {
		width: 100%;
		margin-bottom: 30px;
		align-items: center;
	}

	.card-filter__cnt .card-filter .show-config {
		display: none;
	}

	// .custom-radio + label::before {
	// 	margin-right: 10px;
	// }
	.configurator-section .config-cnt .config-wrap .config-wrap__item .config-wrap__item-body.row .config-item__cnt.row-view .config-item {
		flex-direction: column;
		align-items: flex-start;
		gap: 15px;
	}

	.configurator-section .config-cnt .config-wrap .config-wrap__item .config-wrap__item-body.row .config-item__cnt.row-view .config-item .config-item__bottom {
		margin-left: 00px;
	}

	.tab-view {
		gap: 25px;
	}

	.configurator-section .config-cnt .config-wrap .config-wrap__item .config-wrap__item-body.row .config-item__cnt.row-view {
		gap: 25px;
	}

	.configurator-section .config-cnt .config-wrap .config-wrap__item .config-wrap__item-body.column .item-body__color {
		font-size: 15px;
	}

	.configurator-section .config-cnt .config-wrap .config-wrap__item .item-body__price {
		font-size: 17px;
	}

	.configurator-section .config-cnt .config-wrap .config-wrap__item .config-wrap__item-body.row .item-body__tab-cnt {
		width: 100%;
		overflow-x: scroll;
	}

	.item-body__color-item .custom-radio+label::before {
		margin-right: 15px;
	}

	.assembly-table .assembly-table__row .delete-cell {
		position: absolute;
		left: auto;
		bottom: auto;
		top: 36px;

		&:after {
			content: none;
		}
	}

	.strip .glitchy-btn {
		max-width: 90%;
		top: -40px;
		right: auto;
		left: 50%;
		transform: translateX(-50%) !important;
	}

	.leasing-adv__cnt {
		grid-template-columns: repeat(1, minmax(0, 1fr))
	}

	.leasing-adv__cnt .leasing-adv__item {
		gap: 5px;
	}

	.job-adv__cnt .job-adv__item {
		gap: 20px;
	}
	.job-adv__cnt .job-adv__item .job-adv__item-title {
		font-size: 20px;
	}
	.job-adv__cnt {
		gap: 30px 40px;
	}
	.quality-section .quality-cnt .quality-row .quality-img {
		flex: 1 0 100%;
	}
	.quality-section .quality-cnt .quality-row .quality-content__cnt {
		flex: 1;
	}
}



@media (max-width: 480px) {

	.glitchy-btn .link-inner:after {
		content: none;
	}

	.faq__list-cnt .glitchy-btn {
		width: 100%;
	}

	.cat-item__cnt.catalog-cnt .cat-item__buy-cnt.catalog-cnt .add-cmp__btn,
	.cat-item__cnt.catalog-cnt .cat-item__buy-cnt.catalog-cnt .add-basket__btn {
		width: 42px;
	}

	.tab-view {
		grid-template-columns: repeat(1, minmax(0, 1fr));
	}


	.header-icon-cnt__find {
		display: none;
	}

	.main-section__img-cnt {
		width: 100%;
	}

	.ms-slider-pager.swiper-pagination-bullets.swiper-pagination-horizontal {
		width: 50%;
		left: 50%;
		top: -100%;
		transform: translate(-50%, -50%);
	}

	.footer-cnt .footer-cnt__clm-cnt {
		gap: 30px;

		.footer-cnt__clm {
			width: 100%;
			gap: 10px;

			&:last-child {
				flex-direction: column;
				gap: 20px;
				margin-top: 30px;
			}
		}
	}

	.dropdown-menu {
		height: calc(100vh - 90px);
		overflow-y: auto;

		.menu__cnt {
			grid-template-columns: repeat(1, 1fr);
			gap: 50px;
			padding-top: 30px;
			padding-bottom: 100px;

			.menu-clm {
				gap: 15px;

				&:nth-child(3) {
					gap: 60px;
				}

				.menu-clm__row {
					gap: 15px;
				}
			}

			.search-mobile__cnt {
				display: block;

				.clear-search {
					width: 20px;
					height: 20px;
				}
			}
		}
	}

	.cat-item__cnt.swiper {
		width: 100%;
	}

	.selection__btn-cnt .selection__btn {
		flex-direction: column;
		justify-content: center;
		height: auto;
		padding: 30px 30px;
		gap: 20px;

		.selection__btn-name {
			margin-left: 0;
			width: 100%;
			text-align: center;
		}
	}

	.selection__btn-icon {
		width: 100%;
		display: flex;
		justify-content: center;
	}

	.select_games_gif:before {
		content: "";
		position: absolute;
		left: 50%;
		top: 50%;
		width: 220px;
		height: 100px;
		background: url(../img/select_games_path.png) center;
		background-size: 100% 100%;
		transform: translate(-50%, -50%);
	}

	.selection .selection__cnt .selection__img-cnt .selection__name {
		display: none;
	}

	.section-404 .title-404 {
		font-size: 50px;
	}

	.section-404 p {
		margin-top: 20px;
		margin-bottom: 40px;
	}

	.assembly-table .button-cell {
		flex-direction: column;
		align-items: flex-start;
	}

	a.tpl-link:after {
		content: none;
	}

	.who-item__cnt {
		grid-template-columns: repeat(2, minmax(0, 1fr));
	}

	.about-review-slider__cnt {
		padding: 0;
	}

	.our-services__img,
	.delivery-page .delivery-adv__cnt .delivery-adv__item .delivery-adv__img {
		height: 80px;
	}

	.our-services__cnt .our-services__title,
	.delivery-page .delivery-adv__cnt .delivery-adv__item .delivery-adv__title {
		font-size: 16px;
	}

	.search-section {

		.search-row__cnt {
			flex-direction: column;

			.search-field {
				width: 100%;
			}

			.search-btn {
				width: 100%;
			}
		}
	}

	.main-img-section .main-img-section__title-cnt .quest-sign.left {
		bottom: 10%;
	}

	.main-img-section .main-img-section__title-cnt .quest-sign.right {
		bottom: 15%;
	}

	.custom-label {
		font-size: 17px;
	}

	.assemble-filter__cnt .assemble-filter__game {
		flex: 1 0 100%;
	}

	.assemble-filter__cnt .assemble-filter__resolution {
		flex: 1 0 100%;
	}

	.card-filter__cnt .card-filter .items-available {
		white-space: normal;
	}

	.configurator-section .config-cnt .config-wrap .config-wrap__item .config-wrap__item-body.column {
		flex-direction: column;
	}

	.configurator-section .config-cnt .config-wrap .config-wrap__item .item-body__img {
		max-width: 200px;
		margin: 0 auto;
	}

	.configurator-section .config-cnt .config-wrap .config-wrap__item .config-wrap__item-title {
		padding: 20px;
		font-size: 20px;
	}

	.configurator-section .config-cnt .config-wrap .config-wrap__item.open .config-wrap__item-title:after,
	.configurator-section .config-cnt .config-wrap .config-wrap__item .config-wrap__item-title:after {
		right: 0;
		transform: translate(-50%, -50%);
	}

	.configurator-section .config-cnt .config-wrap .config-wrap__item .config-wrap__item-body.column .what-link {
		display: none;
	}
	.leasing-calc__section .leasing-calc__cnt .leasing-calc__total-item {
		gap: 5px;
	}
	.job-adv__cnt {
		gap: 30px 10px;
	}
	.quality-section .quality-cnt {
		padding: 20px;
	}
	.download-btn span:before {
		left: 5%;
	}
	.sendto-filter {
		flex-direction: column;
	}
}

@media (max-width: 410px) {
	main {
		margin-top: 91px;
	}

	.main-img-section,
	.about-img-section {
		margin-top: -91px;
		padding-top: 91px;
	}

	a.logo {
		max-width: 120px;
		min-width: none;
	}

	.who-item__cnt {
		grid-template-columns: repeat(1, minmax(0, 1fr));
	}

	.cat-item__cnt.catalog-cnt .cat-item__char-cnt.catalog-cnt .cat-item__char-name {
		width: 100%;
	}

	.cat-item__cnt.catalog-cnt .cat-item__char-cnt.catalog-cnt .cat-item__char {
		flex-wrap: wrap;
		gap: 5px;
	}

	.cat-item__label-cnt {
		left: -5px;
	}

	.card-cnt .card-preview__cnt .card-preview__item .card-preview__show-config::before {
		content: none;
	}

	.card-cnt .card-preview__cnt .card-preview__item .card-preview__show-config {
		padding-left: 0;
	}
	.leasing-calc__section .leasing-calc__cnt .leasing-calc__range .cf__leasing-sum {
		font-size: 22px;
		padding: 10px 15px;
	}
	.leasing-calc__section .leasing-calc__cnt .leasing-calc__btn-cnt .leasing-calc__btn {
		padding: 12px;
	}
	.leasing-calc__section .leasing-calc__cnt .leasing-calc__total-item {
		padding: 20px;
	}
	.job-adv__cnt {
		grid-template-columns: repeat(1, minmax(0, 1fr));
	}
	.vacancy__section .vacancy-cnt .vacancy-item {
		padding: 40px 20px;
	}
}