.stock-item__cnt {
	.cat-item__cnt.catalog-cnt {
		margin-bottom: 100px;		
	}	
	.tpl-btn.transparent {
		margin: 0;
		max-width: 260px;
	}
}

a.logo {
	
	min-width: 130px !important;
}

.burger-btn {
	margin-right: 30px !important;
	padding-right: 40px;
}